{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<section class="section__text">
    <div class="container">
        <p class="md">
            Наши сотрудники уделяют большое внимание последним 
            тенденциям в мире дизайна, постоянно посещают российские 
            и зарубежные выставки дизайна, практикуются в Америке, 
            Италии и Франции, для повышения своего профессионализма.
        </p>
        <div class="box">
            <div class="box__left">
                <h3 class="left__title">
                    Почему выбирают дизайн
                    <br>
                    студию Design.Pro
                </h3>
                <p class="left__subtitle">
                    Мечты об уникальном
                </p>
            </div>
            <div class="box__right">
                <p class="right__subtitle">
                    Мы развивающаяся дизайн студия Design.Pro 
                    и успешно много лет работаем на рынке, 
                    предоставляя частным и юридическим лицам комплекс 
                    дизайнерских и строительных услуг. 
                    Наша дизайн студия заслужила признание и доверие 
                    многих клиентов в Москве.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section__infografics">
    <div class="infografics__item">
        <h3 class="item__title">10 лет</h3>
        <p class="item__desc">На рынке</p>
    </div>
    <div class="infografics__item">
        <h3 class="item__title">500+</h3>
        <p class="item__desc">Спроекцированных проектов</p>
    </div>
    <div class="infografics__item">
        <h3 class="item__title">32</h3>
        <p class="item__desc">Сотрудника в команде</p>
    </div>
    <div class="infografics__item">
        <h3 class="item__title">80 000 м<sup>2</sup></h3>
        <p class="item__desc">Отремонитрованной площади</p>
    </div>
</section>
{% endblock %}