{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>{% block title %} Главная {% endblock %} - Дизайн-студия Design.Pro </title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <a href="{% url 'index' %}" class="header__logo">
                    <h1 class="logo__text">Design.Pro</h1>
                </a>
                <div class="header__menu menu">
                    <nav id="menu" class="menu__body">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a class="menu__link" href="{% url 'index' %}">Главная</a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="{% url 'about' %}">О Компании</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="menu__item">
                                <a class="menu__link" href="{% url 'profile' %}">Мой профиль</a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="{% url 'logout' %}">Выйти</a>
                            </li>
                            {% else %}
                            <li class="menu__item">
                                <a class="menu__link" href="{% url 'register' %}">Регистрация</a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="{% url 'login' %}">Вход</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="header__button">
                    <a href="{% url 'create' %}" class="button button-white">Создать заявку</a>
                </div>
            </div>
        </header>
        <main class="main">
                <div class="container">
                    {% block content %}
                    {% endblock %}
                </div>
        </main>
        <footer class="mt-3 border-top">
            <small class="p-2"> &copy; Все права защищены 2021 - Design.Pro
            </small>
        </footer>
</body>

</html>